{% extends 'base.html' %}

{% block content %}
    {{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
    {% if cat == 'success' %}
        <div class="alert alert-success" role="alert">{{ msg }}</div>
    {% else %}
        <div class="alert alert-danger" role="alert">{{ msg }}</div>
    {% endif %}
{% endfor %}

<div class="container mt-3">
    <div class="alert alert-primary">
        <form method = "post" class="was-validated" action="{{ url_for('uploader') }}" enctype = "multipart/form-data">
            <p class="fw-bold fs-3">Загрузите файл и выберите цветовую карту</p>

            <div class="mb-3">
                <input type="file" name = "file" class="form-control" aria-label="file example" required>
            </div>

            <div class="mb-3">
                <select name="colormap" id="colormap" class="form-select" required aria-label="select example">
                    <option value="">Выберите цветовую карту</option>
                    {% for colormap in colormap_list %}
                        <li><option name="colormap" id="colormap"</option>"{{ colormap.name }}"</option></li>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Отправить</button>
            </div>
        </form>
    </div>


    <div class="alert alert-primary">
        <div class="mb-3">
            <p class="fw-bold fs-3">Постройте диаграмму</p>
            <span class="fw-light fs-6">Filename: {{ json['title'] }}</span>
            <span class="fw-light fs-6">Colormap: {{ json['colormap'] }}</span>
        </div>

        <div class="container">
            <form method = "post">
                {% if file_empty == 0  %}
                    <button name='gencharts' class="btn btn-outline-success btn-sm" type="submit">Построить диаграммы</button>
                    {% if charts_built == 0  %}
                        <a href="" class="btn disabled btn-sm">Скачать</a>
                    {% else %}
                        <a href="{{ url_for('download', filename=json['title']) }}" class="btn btn-outline-dark btn-sm">Скачать</a>
                    {% endif %}
                {% else %}
                    <button name='gencharts' class="btn disabled btn-sm" type="submit">Построить диаграммы</button>
                    <a href="" class="btn disabled btn-sm">Скачать</a>
                {% endif %}
            </form>
        </div>
    </div>

</div>


<div class="container">
    <div class="alert alert-light">
        <div class="text-center">
            {% if graphs|length > 0 %}
                {% for graph in graphs %}
                    <img src="{{ url_for('static', filename=graph) }}" class="img-fluid">
<!--                    <img src="{{ url_for('static', filename=graph) }}" class="img-fluid img-thumbnail">-->
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
