{% extends 'base.html' %}

{% block content %}
    {{ super() }}

<div class="container-fluid mt-3">

    <div class="d-grid gap-2">
        <button class="alert alert-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_info" aria-expanded="false" aria-controls="collapse_info">
            Зачем это нужно?
        </button>
    </div>

    <div class="collapse" id="collapse_info">
        <div class="card card-body">
            <p class='text-justify lh-sm'>В течение многих лет комплексная и надежная оценка токсического потенциала того
                или иного химического процесса была недостижимой задачей из-за чрезвычайной сложности многочисленных процессов,
                происходящих при взаимодействии химических веществ с живыми организмами и их ближайшим окружением.
                На сегодняшний день разработаны подробные классификации потенциальных опасностей химических веществ
                и проектирования более безопасных химических процессов, однако до сих пор не был найден быстрый и наглядный способ оценки
                токсического риска для широкого спектра химических веществ и процессов.
            </p>
            <p class='text-justify lh-sm'>
                Недавно в нашей научной школе была предложена новая методика быстрой предварительной оценки потенциальной
                опасности химических процессов для здоровья с помощью био-стрипов. В частности, био-стрипы подразумевают
                использование CC50 (полумаксимальных концентраций цитотоксичности) и нормализованной цитотоксичности веществ,
                которые участвуют в конкретной химической реакции для оценки его «общей цитотоксичности».
                Эта методология была успешно применена для анализа широко распространенных химических реакций, в том числе реакции Сузуки.
            </p>
        </div>
    </div>

    <p class="font-italic">Пример автоматически сгенерированных диаграмм для реакции Сузуки:</p>
    <div class="container mt-3">
        <img src="{{ url_for('static', filename='images/example_result.png') }}" class="img-fluid">
    </div>

    <div class="mb-3">
        <span class="fw-normal fs-6">Публикации:</span>
        <p class="fw-light fs-6">1. Egorova, K. S., Posvyatenko, A. v., Galushko, A. S., & Ananikov, V. P. (2023).
            Fast evaluation of the safety of chemical reactions using cytotoxicity potentials and bio-Strips. Chemosphere, 313.</p>
    </div>

</div>

{% endblock %}
