{% extends 'base.html' %}

{% block content %}
    {{ super() }}

<div class="container mt-3">

    <div class="d-grid gap-2">
        <button class="alert alert-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_info" aria-expanded="false" aria-controls="collapse_info">
                Bio-Profiles and bio-Strips of Chemical Reactions
        </button>
    </div>

    <p class="lead">In recent years, chemical sciences have been demonstrating a steady decrease in usage of high-toxic
        chemical compounds. However, the issue of wide-scale screening of harmful effects of various substances
        on living organisms and the environment has not been solved so far. Since the manifested toxic impact
        of a given compound depends on both the intrinsic (chemical structure, state of matter, etc.) and extrinsic
        (type of the biological object being affected, way of contact, exposure time, etc.) factors, the “general toxicity”
        of chemical compounds cannot be established, and “general models” for predicting the toxicity of chemicals
        cannot be developed.</p>

    <p class="lead">The Green chemistry and Sustainable development strategies have contributed significantly
        to decreasing the destructive effects of industrial chemical processes on the environment. However,
        the common environmental metrics, such as E-factor and Atom economy, do not consider the toxicity
        of components involved in a particular chemical process.</p>

    <p class="lead">Recently, we have developed a principally novel approach to evaluation of chemical reactions
        from the viewpoint of toxicity of their participating components by means of toxicity profiles (tox-Profiles).
        This approach is applicable to any chemical transformation the toxicity of components of which can be tested
        in some biological object.</p>

    <p class="lead">tox-Profiles of chemical reactions visually show the “toxic potential” of a given chemical process
        by considering the toxicity of all the substances entering the process or being produced in its course.
        We propose using tox-Profiles for comparing various ways of synthesis of a particular chemical product
        and establishing the reaction components (such as starting materials, catalysts, solvents, etc.) with the highest
        toxic impact. This information can be subsequently used for optimization of the synthesis from the viewpoint
        of its environmental dangers.</p>

    <p class="lead">The tox-Profile concept is universal: it allows visualization and quantitative estimation of the effect
        of a given chemical reaction on a given biological object. Therefore, tox-Profiles can be built on the basis
        of various types of biological activity / toxicity. In particular, we propose using cytotoxicity of chemicals
        measured in various cell lines for fast preliminary evaluation of the “overall toxicity” of chemical reactions.
        The obtained data can be later used for more detailed toxicological studies on higher organisms. We called
        cytotoxicity-based tox-Profiles bio-Profiles and bio-Strips (compact version of bio-Profiles).</p>

    <p class="lead">bio-Profiles and bio-Strips allow carrying out fast preliminary assessment of the input of participant
        substances into the “overall toxicity” of a given reaction by using half-maximal cytotoxicity concentrations (CC50)
        as toxicity metrics. A more detailed description of the concept is given in the “Intro to bio-Strips” tab.</p>

    <p class='lead fw-bold'>Here, you can build bio-Strips for your own chemical processes using your own
        data on biological activity. Click
        <a href="{{ url_for('create_chart') }}" class="link-danger">here</a>
        to continue.</p>


    <div class="container mt-3">
        <img src="{{ url_for('static', filename='images/beatiful_pic_2.jpg') }}" width="800" class="img-fluid rounded mx-auto d-block">

        <p class="fw-light fs-6 text-center">A bio-Strip for synthesis of 1,1’-biphenyl from phenylboronic acid
            and iodobenzene (shown as an example). The sector length corresponds to the normalized cytotoxicity
            of a particular substance, that is, to the ratio of its amount (mmol) in the reaction to its CC50
            (mmol per liter) in a given cell line. The longer the sector, the higher the input of the substance
            into the “overall cytotoxicity” of the reaction.</p>
    </div>


    <div class="d-grid gap-2">
        <button class="alert alert-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_example" aria-expanded="false" aria-controls="collapse_example">
            An example of automatically generated diagrams for the Suzuki reaction:
        </button>
    </div>

    <div class="collapse" id="collapse_example">
        <div class="card card-body">
            <img src="{{ url_for('static', filename='images/example_result.png') }}" class="img-fluid">
        </div>
    </div>

    <div class="mb-3">
        <span class="fw-normal fs-6">References:</span>
        {% for ref in references %}
            <p class="fw-light fs-6">{{ ref }}</p>
        {% endfor %}
    </div>

</div>

{% endblock %}
